.notesContainer {
    display: flex; 
    gap: 10px; 
    margin-bottom: 20px;
}

#noteInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}